<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deneme20">

    <!-- İnternet izinleri -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Konum izinleri -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="deneme20">

        <!-- Google Maps API anahtarı -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEVwk-58-EL_3ST6cjR0vE4QZlWk20t2A"/>

        <!-- Diğer uygulama bileşenleri burada olabilir -->

    </application>
</manifest>
